.Post {
  border: 1px inset black;
  max-width: 20em;
}

.Anchor figure img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 32em;
}

.Anchor:hover figure img {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  z-index: 999;
}

.Title {
  font-size: 28px;
}

.LoggedOut {
  color: lightgray;
}

.LoggedOut:hover {
  color: lightgrey;
}

.Liked {
  color: red;
}

.Liked:hover {
  color: lightgray;
}

.NotLiked:hover {
  color: red;
}

.Body {
  min-height: 16em;
}

.Comments:hover {
  color: #cfced3;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 100%;
}

.Figure {
}
