@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap");

.Logo {
  font-family: "Unbounded", cursive;
  font-weight: 500;
  color: white;
}

.Logo i {
  color: white;
}

.Logo:hover i {
  color: white;
  opacity: 100;
}

.Nav {
  margin: auto;
  font-weight: 500;
  align-items: center;
}

.Navlink {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.Navlink:hover {
  color: rgba(255, 255, 255, 0.75);
}

.Navlink i {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

.Navlink:hover i {
  color: rgba(255, 255, 255, 0.75);
}

.Active {
  color: red;
}
