@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap");

.Logo {
  font-family: "Unbounded", cursive;
  font-weight: 500;
  color: white;
}

.Logo i {
  color: white;
}

.Logo:hover i {
  color: white;
  opacity: 100;
}

.Nav {
  font-weight: 500;
}

.Navlink {
  color: rgba(255, 255, 255, 0.5);
}

.Navlink:hover {
  color: rgba(255, 255, 255, 0.75);
}

.Navlink:hover i {
  color: rgba(255, 255, 255, 0.75);
}

.Dropdown:hover i {
  color: rgba(255, 255, 255, 0.75);
}
